@page
@model BankStartWeb.Pages.CustomerView.CustomerViewSingleModel
@{
}
<h2>Kund Id: @Model.Id</h2>
<table class="table">
    <tr>
        <th>Föramn</th>
        <th>Efternamn</th>
        <th>Adress</th>
    </tr>
    <tr>
        <td>@Model.Givenname</td>
        <td>@Model.Surname</td>
        <td>@Model.Streetaddress</td>
    </tr>
</table>

<table class="table">
    <tr>
        <th>Kontonummer</th>
        <th>Kontotyp</th>
        <th>Saldo</th>
    </tr>
    @foreach(var item in Model.Accounts)
    {
    <tr>
        <td><a asp-page="/AccountView/AccountViewSingle" asp-route-accId="@item.Id">@item.Id</a></td>
        <td>@item.AccountType</td>
        <td>@item.Balance</td>
    </tr>
    }

    <tr>
        <th>Totalt på konton:</th>
        <td></td>
        <th>@Model.AccountsTotal</th>   
    </tr>
</table>

<div>
<button class="btn btn-danger"><a asp-page="/AccountView/CreateAccount" asp-route-custId="@Model.Id">Skapa ett nytt konto för @Model.Givenname @Model.Surname</a></button>
</div>
<div>
    <button class="btn btn-success"><a asp-page="/AccountView/TransactionToAccount" asp-route-custId="@Model.Id">För över pengar från ett av dina konton</a></button>
</div>
<div>
    <button class="btn btn-success"><a asp-page="/AccountView/TransactionFromAccount" asp-route-custId="@Model.Id">För över pengar till ett av dina konton</a></button>
</div>
<div>
    <button class="btn btn-success"><a asp-page="/AccountView/Transaction" asp-route-custId="@Model.Id">Gör en transaktion mellan konton</a></button>
</div>