@page
@model BankStartWeb.Pages.CustomerView.CustomerViewAllModel
@{
}
@*<div style="display:none">
   <audio controls autoplay>
  <source src="/media/audio/fanfare.wav" type="audio/wav"> 
Din webläsare stödjer inte ljudformatet.
</audio>
</div>*@


<form method="GET">
    <input asp-for="@Model.CustSearch"/>
    <input type="submit" value="Sök"/>

</form>



<table class="table table-container1">
    <tr>
        <th>Customer ID<a asp-page="/CustomerView/CustomerViewAll" asp-route-col="Id" asp-route-custSearch="@Model.CustSearch" asp-route-order="asc"><i class='bx bx-sort-a-z' ></i></a>
        <a asp-page="/CustomerView/CustomerViewAll" asp-route-col="Id" asp-route-custSearch="@Model.CustSearch" asp-route-order="desc"><i class='bx bx-sort-z-a' ></i></a></th>
        
        <th>Customer First Name<a asp-page="/CustomerView/CustomerViewAll" asp-route-col="Givenname" asp-route-custSearch="@Model.CustSearch" asp-route-order="asc"><i class='bx bx-sort-a-z' ></i></a>
        <a asp-page="/CustomerView/CustomerViewAll" asp-route-col="Givenname" asp-route-custSearch="@Model.CustSearch" asp-route-order="desc"><i class='bx bx-sort-z-a' ></i></a></th>
        
        <th>Customer Surname<a asp-page="/CustomerView/CustomerViewAll" asp-route-col="Surname" asp-route-custSearch="@Model.CustSearch" asp-route-order="asc"><i class='bx bx-sort-a-z' ></i></a>
        <a asp-page="/CustomerView/CustomerViewAll" asp-route-col="Surname" asp-route-custSearch="@Model.CustSearch" asp-route-order="desc"><i class='bx bx-sort-z-a' ></i></a></th>
        
        <th>Customer City<a asp-page="/CustomerView/CustomerViewAll" asp-route-col="City" asp-route-custSearch="@Model.CustSearch" asp-route-order="asc"><i class='bx bx-sort-a-z' ></i></a>
            <a asp-page="/CustomerView/CustomerViewAll" asp-route-col="City" asp-route-custSearch="@Model.CustSearch" asp-route-order="desc"><i class='bx bx-sort-z-a' ></i></a></th>

        <th>Customer Email<a asp-page="/CustomerView/CustomerViewAll" asp-route-col="EmailAddress" asp-route-custSearch="@Model.CustSearch" asp-route-order="asc"><i class='bx bx-sort-a-z' ></i></a>
        <a asp-page="/CustomerView/CustomerViewAll" asp-route-col="EmailAddress" asp-route-custSearch="@Model.CustSearch" asp-route-order="desc"><i class='bx bx-sort-z-a' ></i></a></th>
    </tr>
    @foreach(var cust in Model.CustomersList)
    {
        <tr>
            <td><a asp-page="/CustomerView/CustomerViewSingle" asp-route-custId="@cust.Id">@cust.Id</a></td>
            <td>@cust.FirstName</td>
            <td>@cust.LastName</td>
            <td>@cust.City</td>
            <td>@cust.Email</td>
        </tr>
    }

    <tr>
        @if(Model.PageNo > 1)
        {
            <td><a asp-page="/CustomerView/CustomerViewAll" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.CustSearch" asp-route-pageno="@(Model.PageNo-1)">Prev</a></td>
        }      
        <td>Current page @Model.PageNo of @Model.TotalPageCount</td>

        @if(Model.PageNo != Model.TotalPageCount)
        {
        <td><a asp-page="/CustomerView/CustomerViewAll" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.CustSearch" asp-route-pageno="@(Model.PageNo+1)">Next</a></td>
        }
    </tr>
</table>