@page
@model BankStartWeb.Pages.AccountView.CreateAccountModel
@{
}

<h3>Väljigen välj typ av konto att lägga till kund: (@Model.currentCustomerView.Name)</h3>




<form method="post">
    <div class="form-group">
        <label asp-for="CustAccountType">Välj kontotyp kontot</label>
        <select class="form-control" asp-for="CustAccountType" asp-items="@Model.AllAccountTypes">
        </select>
        <span asp-validation-for="CustAccountType" class="field-validation-error"></span>
    </div>


    <button class="btn btn-primary" type="submit">Skapa nytt konto</button>
    
</form>




<h3>Nuvarande konton för @Model.currentCustomerView.Name</h3>
<table class="table">
    <tr>
        <th>Kontonummer</th>
        <th>Kontotyp</th>
        <th>Summa på kontot</th>
        <th>Skapat</th>

    </tr>
    @foreach (var item in @Model.currentCustomerView.Accounts)
    {
        
        <tr>
            <td>@item.Id</td>
            <td>@item.AccountType</td>
            <td>@item.Balance</td>
            <td>@item.Created</td>

        </tr>
    }
</table>

<a button class="btn buttonred" asp-page="/CustomerView/CustomerViewSingle" asp-route-custId="@Model.currentCustomerView.Id">Avbryt och återgå till kundsidan</a>

