@page
@model BankStartWeb.Pages.CreateEditCustomer.EditCustomerModel
@{
}


<div class="card">
    <div class="card-header">
        <h1>Ny kund</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Givenname">Förnamn</label>
                <input class="form-control" asp-for="Givenname"  value="@Model.Givenname">
                <span asp-validation-for="Givenname" class="field-validation-error"></span>
            </div>

             <div class="form-group">
                <label asp-for="Surname">Efternamn</label>
                <input class="form-control" asp-for="Surname" value="@Model.Surname">
                <span asp-validation-for="Surname" class="field-validation-error" ></span>
            </div>

            <div class="form-group">
                <label asp-for="Streetaddress">Adress</label>
                <input class="form-control" asp-for="Streetaddress" value="@Model.Streetaddress">
                <span asp-validation-for="Streetaddress" class="field-validation-error"></span>
            </div>

             <div class="form-group">
                <label asp-for="Zipcode">Postnummer</label>
                <input class="form-control" asp-for="Zipcode" value="@Model.Zipcode">
                <span asp-validation-for="Zipcode" class="field-validation-error"></span>
            </div>           

             <div class="form-group">
                <label asp-for="City">Stad</label>
                <input class="form-control" asp-for="City" value="@Model.City">
                <span asp-validation-for="City" class="field-validation-error"></span>
            </div>
            
             <div class="form-group">
                <label asp-for="CountryId">Land</label>
                <select class="form-control" asp-for="CountryId" asp-items="@Model.AllCountries" value="@Model.CountryId">
                </select>
                <span asp-validation-for="CountryId" class="field-validation-error"></span>
            </div>

             
             <div class="form-group">
                <label asp-for="Telephone">Telefonnummer</label>
                <input class="form-control" asp-for="Telephone" value="@Model.Telephone">
                <span asp-validation-for="Telephone" class="field-validation-error"></span>
            </div>

             <div class="form-group">
                <label asp-for="EmailAddress">Epostadress</label>
                <input class="form-control" asp-for="EmailAddress" value="@Model.EmailAddress">
                <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
            </div>

 


            <button class="btn btn-primary" type="submit">Spara ändringar</button>

        </form>

        <button class="btn btn-danger"><a asp-page="/CustomerView/CustomerViewSingle" asp-route-custId="@Model.Id">Avbryt och återgå till kundsidan</a></button>
///EJ GJORT
Färdigifyllda forms 