@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<img class="logo" src="media/images/logo2.png"/>
<table class="table">
    <tr>
        <th>Totalt antal kunder</th>
        <th>Totalt antal konton</th>
        <th>Total summa konton</th>
    </tr>
     <tr>
        <td>@Model.AntalKunder</td>
        <td>@Model.AntalKonton</td>
        <td>@Model.TotalSummaKonton kr</td>
    </tr>
</table>

@*Form skriv in id så får man upp kund*@

<form method="post" action="">
    Sök kund på Id:<br />
    <input type="number" min="1" max="@Model.AntalKunder" name="Inputcustid" id="Inputcustid" value="@Model.Inputcustid"/><br/>
    <div class="container">
        <input class="buttonblue" type="submit" value="Skicka"/>
    </div>
    
</form>


@if (User.IsInRole("Admin"))
{
<div>
    <a class="btn btn-primary" asp-page="/CreateEditCustomer/CreateCustomer">Registrera en ny kund</a>
    </div>

}

